/* CONFIGURAÇÕES PARA TELA DE LOGIN */
body {
    background-color: #F0F1F2;
}

#login-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:300px;
    margin-left: 1350px;
}

#login-form{
    width: 300px
}

#btn-entrar{
    width: 200px
}

/* CONFIGURAÇÕES PARA TELA HOME */

.menu-topbar {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.menu-item {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 6px;
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#topbar {
    background-color: #1D3273;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
}

#titulo{
    margin-top: 145px;
    text-align: center;
    font-family: "Google Sans", sans-serif;
    color: #1D3273;
}

.icon-camera {
    font-size: 26px;
}

.icon-menu {
    font-size: 40px !important;
    color: #F0F1F2;
    position: absolute;
    left: 25px;
    top: 30px;
}

#logo {
    position: absolute;
    top: 28px;
    left: 10%;
    transform: translateX(-50%);
    z-index: 10000; 
}

#logo img {
    width: 145px;
    height: auto;
    display: block;
}

#perfil {
    position: absolute;
    top: -15px;
    right: 75px;
    z-index: 10000; 
}

#perfil img {
    width: 135px;
    height: auto;
}

.menu-topbar {
    display: flex;
    gap: 20px;
    margin-left: 40px;
}

.table-container {
    display: flex;
    justify-content: center;
    margin: 120px auto;
}

.tabela-estoque {
    width: 60%;
    border: 2px solid #F28705;
    border-radius: 12px;
}
