<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='janela_icone.png') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <title>SENAI - Contas de Usuários</title>
</head>
<body>
    <header>
        <div id="topbar">
            <div id="logo">
                <img src="/static/logo_sistema.png">
            </div>
        
            <div class="menu-topbar">
                <a href="/tabela" class="menu-item">MATERIAIS</a>
                <a href="/editar" class="menu-item">EDITAR</a>

            {% if session.get('tipo') == 'admin' %}
                <a href="/acesso" class="menu-item">CONTAS</a>
                <a href="/cadastro" class="menu-item">CADASTRO</a>
            {% endif %}

            </div>
        
            <div id="perfil">
                <div class="dropdown">
                    <img src="/static/logo_perfil.png" data-bs-toggle="dropdown" style="cursor: pointer;">
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li class="dropdown-item">Usuário: {{ session['usuario'] }}</li>
                        <li class="dropdown-item">E-mail: {{ session['email'] }}</li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item sair" href="/logout">Sair</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </hearder>
    <main>
        <h1 id="titulo">Boas-vindas ao Gerenciador de Contas!</h1>


        <div class="table-container">
            <table class="table table-bordered tabela-estoque">

                <tr>
                    <th>ID</th>
                    <th>NOME</th>
                    <th>EMAIL</th>
                    <th>SENHA</th>
                    <th>TIPO</th>
                    <th>EXCLUIR</th>
                </tr>

                {% for item in resultado %}

                <tr>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2] }}</td>
                    <td>{{ item[3] }}</td>
                    <td>{{ item[4] }}</td>

                    <td>
                        <button class="btn btn-danger btn-sm"
                                onclick="excluirUsuario('{{ item[0] }}')">
                            <span class="material-symbols-outlined">delete</span>
                        </button>
                    </td>
                </tr>

                {% endfor %}


            </table>
        </div>
    </main>
</body>