<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='janela_icone.png') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>SENAI - Cadastro de usuários</title>
</head>
<body id="body-cadastro">
    <header>
        <div id="topbar">
            <div id="logo">
                <img src="/static/logo_sistema.png">
            </div>
        
            <div class="menu-topbar">
                <a href="/tabela" class="menu-item">MATERIAIS</a>
                <a href="/editar" class="menu-item">EDITAR</a>

            {% if session.get('tipo') == 'admin' %}
                <a href="/acesso" class="menu-item">CONTAS</a>
                <a href="/cadastro" class="menu-item">CADASTRO</a>
            {% endif %}

            </div>

            <div id="perfil">
                <div class="dropdown">
                    <img src="/static/logo_perfil.png" data-bs-toggle="dropdown" style="cursor: pointer;">
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li class="dropdown-item">Usuário: {{ session['usuario'] }}</li>
                        <li class="dropdown-item">E-mail: {{ session['email'] }}</li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item sair" href="/logout">Sair</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <h1 id="titulo-cadastro">Boas-vindas ao Cadastro de Usuários!</h1>

    <main id="main-cadastro">
        <form id="cadastro-form" action="/cadastro" method="POST" enctype="multipart/form-data">

            <label class="secao-label" style="margin-top: 16px;">Usuário</label>
            <input style="width: 100%;" type="text" id="usuario" name="user" placeholder="Nome de Usuário" required minlength="3" title="Digite o nome de usuário."/>

            <label class="secao-label" style="margin-top: 16px;">E-mail profissional</label>
            <input style="width: 100%;" type="text" id="email" name="email" placeholder="seunome@empresa.com" required pattern=".+@empresa\.com" title="Digite o seu e-mail profissional."/>

            <label class="secao-label" style="margin-top: 16px;">Senha</label>
            <input style="width: 100%;" type="password" id="senha" name="senha" placeholder="Digite a senha..." required minlength="3" title="A senha precisa ter no mínimo 6 caracteres."/>

            <div>
                <button id="btn-criar" type="submit" class="btn btn-primary">Cadastrar-se</button>
            </div>
            <input type="hidden" name="perfil" value="usuário">
        </form>
    </main>

    <script src="/static/script.js"></script>
</body>
</html>